/* /=========================================== BASIC TO THE CODES START ================================= \ */
@font-face {
  font-family: 'Lora';
  src: url("../FONT/LORA/static/Lora-Medium.ttf");
}

@font-face {
  font-family: 'Oxygen';
  src: url("../FONT/OXYGEN/Oxygen-Light.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

:root {
  --link-color: #FFFFFF;
  --link-bg-color: #DD783F;
  --section-link-color: #768088;
  --section-title-border-bottom-color: #DEDEDE;
  --section-second-link-color: #DD783F;
  --dark-color: #000;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 200px;
}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-thumb {
  background-color: var(--link-bg-color);
  border-radius: 0 0 50px 50px;
}

body {
  min-height: 200vh;
}

/* /=========================================== BASIC TO THE CODES END =================================== \ */


/* /=========================================== HEADER AND MAIN TO THE CODES END ========================== \ */
.main {
  background-image: url("../IMG/escape-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 667px;
  width: 100%;

}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  transition: all .3s linear;
}

.header.active {
  transition: all .3s linear;
  background-color: white;
  height: 75px;
  box-shadow: 0 1px 2px var(--dark-color);
}

.header.active .nav {
  height: 75px;
  transition: all .3s linear;
}
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s linear;
}

.header.active .nav .nav__list .nav__item .nav__link {
  color: var(--section-second-link-color);
  font-weight: 600;
}

.header.active .nav__interno{
  color: var(--section-second-link-color);
  font-weight: 600;
}

.nav__interno {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: var(--link-color);
  line-height: 100px;
}

.nav .nav__list .nav__item {
  line-height: 100px;
  display: inline-block;
}

.nav .nav__list .nav__item .nav__link {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--link-color);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 0 20px;
  transition: all .3s linear;
}

.nav .nav__list .nav__item .nav__link:hover {
  color: var(--link-bg-color);
}

.main__content {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__content_title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 51px;
  color: var(--link-color);
  text-align: center;
  letter-spacing: 2px;
}

.main__content_paragraph {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.63);
  margin: 25px 0;
}

.main__content_link {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--link-color);
  background-color: var(--link-bg-color);
  border-radius: 3px;
  padding: 15px 30px;
  transition: all .3s linear;
  border: 1px solid var(--link-bg-color);
}

.main__content_link:hover {
  background-color: transparent;
  color: var(--link-bg-color);

}

/* /=========================================== HEADER AND MAIN TO THE CODES END ========================== \ */


/* /=========================================== SECTION TO THE CODES START ================================ \ */
.section__link {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__link_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
}

.section__link .section__link_list .section__link_item {
  display: inline-block;
}

.section__link .section__link_list .section__link_item .section__link_href {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 65px;
  text-align: center;
  color: var(--section-link-color);
  padding: 0 50px;
  transition: all .3s linear;
}

.section__link .section__link_list .section__link_item .section__link_href:hover {
  color: var(--link-bg-color);
}

/* /=========================================== SECTION TO THE CODES END ================================== \ */

/* /=========================================== SECTION TO THE CODES START ================================ \ */
.section__img_container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.section__img_box_first {
  background-image: url("../IMG/section-first-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 460px;
  width: 100%;
  height: 280px;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 15px 20px;

}

.section__img_box_second {
  background-image: url("../IMG/section-second-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 460px;
  width: 100%;
  height: 280px;
  border-radius: 3px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 15px 20px;
}

.section__img_box_second_box_link {
  padding: 6px 9px 7px 9px;
  background-color: var(--section-second-link-color);
  color: var(--link-color);
  font-family: 'Oxygen';
  font-style: normal;
  width: 87px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  transition: all .3s linear;
  border: 1px solid var(--section-second-link-color);
}

.section__img_box_second_title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  color: var(--link-color);
}

.section__img_box_second_paragraph {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.section__img_box_second_box_link:hover {
  background-color: transparent;
  color: var(--section-second-link-color);
}

.section__img_title {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2px;
  margin: 60px 0 40px 0;
  position: relative;
}

.section__img_title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 188px;
  transform: translateY(40px) translateX(-175px);
  background-color: var(--section-title-border-bottom-color);
}

.section__img_box_first_content {
  display: flex;
  justify-content: space-between;
}

.section__img_box_second_content {
  display: flex;
  justify-content: space-between;
}

.section__img_box_first_content_img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section__img_box_second_content_img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section__img_box_first_content_img img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.section__img_box_second_content_img img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.section__img_box_second_content_paragraph {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.7);
  margin: 6px 0 12px 0;
}

.section__img_box_first_title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  color: var(--link-color);
}

.section__img_box_first_paragraph {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin: 6px 0 12px 0;
}

.section__img_box_first_content_paragraph {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.7);
}

/* /=========================================== SECTION TO THE CODES END ================================== \ */